@import "../../../styles/settings.scss";

.navbar {
    background-color: $color-black; 
    color: $color-white;
    height: 10vh;
    .container {
        .icon {
            color: $color-white;
            font-size: 20px;
            padding: 0px 10px;
        }
        .login {
            color: $color-white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}