// Colors
$color-black: #111111;
$color-white: #ffffff;
$orange-light: #fdb813;
$orange-strong: #fca313;
$background-grey: #f5f5f5;

// Extra font colors
$font-black: #222222;
$font-grey: #b8b8b8;

//Other settings


